<h1><%=@cat.name%></h1>

<p>Get to know <%=@cat.name%></p>
<table>
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>

  <tbody>

    <tr>
      <td>Age (yrs):</td>
      <td> <%= @cat.age%> </td>
    </tr>
    <% @cat.attributes.each do |k, v| %>
    <% next if %w(id created_at updated_at).include?(k) %>
    <tr>
      <td><%= k %>:</td>
      <td><%= v %></td>
    </tr>
    <% end %>
  </tbody>

</table>

<%= link_to "Edit this cat", edit_cat_url %>


<h2>Rental Requests</h2>
<table>
  <thead>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Status</th>
      <th>Approve</th>
      <th>Deny</th>
    </tr>
  </thead>

  <tbody>

    <% @cat_rentals.each do |rental| %>
      <% next if rental.status == "DENIED" %>
      <tr>
        <td><%= rental.start_date %></td>
        <td><%= rental.end_date %></td>
        <td> <%= rental.status %> </td>
      <% if rental.status == "PENDING" %>
        <td> <%= button_to 'APPROVE', cat_rental_request_approve_url(rental.cat_id)  %> </td>
        <td> <%= button_to 'DENY', cat_rental_request_deny_url(rental.cat_id)  %> </td>
        <%end%>
      </tr>

      <% end %>
  </tbody>

</table>

<%= link_to 'Request rental', new_cat_rental_request_url %>

<br></br>

<%= link_to "Main page", cats_url %>
